<a href="https://colab.research.google.com/github/Mario-RJunior/relacoes-publicas-clientes-NLP/blob/main/relacoes_publicas_NLP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Departamento de Relações Públicas

## Importação das bibliotecas e da base de dados

Base de dados: https://www.kaggle.com/sid321axn/amazon-alexa-reviews/kernels

In [1]:
# Importando as bibliotecas
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
# Carregando a base de dados
link = 'https://raw.githubusercontent.com/Mario-RJunior/relacoes-publicas-clientes-NLP/main/amazon_alexa.tsv'
reviews_df = pd.read_csv(link, sep='\t')

In [6]:
reviews_df.head(10)

   rating  ... feedback
0       5  ...        1
1       5  ...        1
2       4  ...        1
3       5  ...        1
4       5  ...        1
5       5  ...        1
6       3  ...        1
7       5  ...        1
8       5  ...        1
9       5  ...        1

[10 rows x 5 columns]